@font-face {
    font-family: "Norse Logo";
    src: url(./Assets/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Norse Logo', sans-serif;
}
.sidebar {
    background-color: aqua;
    width: 34%;
}

.form-side {
    background-color: brown;
    width: 66%;
}

.wrapper {
    display: flex;
    width: 66%;
}